name: Update Posts Index

on:
  push:
    paths:
      - "posts/*.md"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout repo
      uses: actions/checkout@v3
      
    - name: Generate posts index
      run: |
        echo "[" > index.json
        for file in posts/*.md; do
          fname=$(basename "$file")
          echo "\"$fname\"," >> index.json
        done
        sed -i '$ s/,$//' index.json
        echo "]" >> index.json

    - name: Commit changes
      run: |
        git config --global user.name "github-actions"
        git config --global user.email "actions@github.com"
        git add index.json
        git commit -m "Auto update index" || echo "No changes"
        git push
